.container {
  max-width: 700px;
  margin: 0 auto;
}

.post {
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 36px;
    margin-top: 64px;
    color: var(--gray-50);
  }
}

.postContent {
  color: var(--gray-100);

  p, ul {
    margin: 30px 0;
  }
}
